<div class="main-content">
    <div class="page-inner">
      <!-- Loader -->
      <div *ngIf="loader">
        <div id="loader-wrapper-submaincontent">
          <div class="lds-ring">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
  
      <!-- Add New Tag Card -->
      <div class="card mb-0 add-tag-card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="title-container">
            <i class="fa fa-plus-circle tag-icon"></i>
            <h4 class="card-title mx-1">Add a New Parameter</h4>
          </div>
        </div>
        <div class="card-body">
          <form [formGroup]="parameterForm">
            <div class="form-group mb-2 d-flex justify-content-between">
              <label for="parameter_name" class="form-label">Parameter Name</label>
              <div class="input-group ml-2">
                  <input
                    type="text"
                    id="parameter_name"
                    formControlName="parameter_name"
                    class="form-control"
                    placeholder="Enter Parameter Name"
                  />
              </div>
            </div>
            <div *ngIf="parameterForm.get('parameter_name')?.invalid && parameterForm.get('parameter_name')?.touched" class="error-message text-danger">
              Parameter Name is required.
            </div>
            <div class="form-group mb-0 d-flex justify-content-between">
                <label for="description" class="form-label">Description</label>
                <div class="input-group ml-2">
                    <textarea
                      type="text"
                      id="description"
                      formControlName="description"
                      class="form-control"
                      placeholder="Enter Description"></textarea>
                </div>
              </div>
              <div *ngIf="parameterForm.get('description')?.invalid && parameterForm.get('description')?.touched" class="error-message text-danger">
               Description is required.
              </div>
            <div class="form-actions">
              <button
                type="button"
                class="btn btn-primary"
                [disabled]="parameterForm.invalid"
                (click)="createParameter()"
              >
                Create Parameter
              </button>
            </div>
          </form>
        </div>
      </div>
  
      <!-- Tags Table Card -->
      <div class="card mt-3 mb-0">
        <div class="card-header d-flex justify-content-between align-items-center">
          <div class="title-container">
            <i class="fa fa-tag tag-icon"></i>
            <h4 class="card-title mx-1">Parameters</h4>
          </div>
          <div class="actions">
            <div class="search-container py-0">
              <i class="fa fa-search search-icon"></i>
              <input
                type="text"
                class="form-control search-input"
                placeholder="Search..."
                (input)="onSearch($event)"
              />
            </div>
            <button
              class="btn btn-danger remove-btn"
              [disabled]="!selectedRows.length"
              (click)="deleteParameters()"
            >
              <i class="fa fa-trash"></i> Remove
            </button>
          </div>
        </div>
  
        <div class="card-body">
          <ag-grid-angular
            style="width: 100%;"
            class="ag-theme-alpine"
            [rowData]="rowData"
            [columnDefs]="columnDefs"
            rowSelection="multiple"
            (selectionChanged)="onSelectionChanged($event)"
            [pagination]="true"
            [domLayout]="'autoHeight'"
            [defaultColDef]="{ sortable: true, filter: true, flex: 1 }"
            (gridReady)="onGridReady($event)"
          >
          </ag-grid-angular>
        </div>
      </div>
    </div>
  </div>
  