.each-device {
    flex-direction: row;
    #online {
        height: 10px;
        width: 10px;
        background: green;
        border-radius: 100%;
    }
    #offline {
        height: 10px;
        width: 10px;
        background: red;
        border-radius: 100%;
    }
    #statusText, .span-text, .span-title {
        font-size: 0.875rem;
    }
    .span-title, h6 {
        font-weight: bold;
    }
    .img-height {
        height: 0.875rem;
    }
}

.device-footer {
    flex-direction: column;

    .card-footer-item-bordered {
        border-left: 1px solid rgba(20, 20, 31, .12);

        &:not(:last-child) {
            border-bottom: 1px solid rgba(20, 20, 31, .12);
            border-right: 0px;
        }
    }
}

.form-label {
    width: 180px;
}

.error-message {
    padding-left: 170px;
    font-size: 0.75rem;
}