<div class="app-page">
    <!-- <wt-simple-table-with-pagination [tableDataWithActions]="tableData"
    (actionEmitter)="emittedActions($event)" [calculatedHeight]="245">
  </wt-simple-table-with-pagination> -->
  <ag-grid-angular
  style="width: 100%; height: 500px;"
  class="ag-theme-alpine"
  [rowData]="rowData"
  [columnDefs]="columnDefs"
  [defaultColDef]="{ sortable: true, filter: true, flex: 1 }">
</ag-grid-angular>
  <ng-container *ngIf="loaders?.list || loaders?.conf || loaders?.delete">
    <div>
        <div id="loader-wrapper-submaincontent">
            <div class="lds-ring">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
</ng-container>
</div>

<!-- Trigger Button -->
<button type="button" id="organizationModalBtn" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#organizationModal">
    Add Organization Details
  </button>
  
<div class="modal fade" id="organizationModal" tabindex="-1" aria-labelledby="organizationModalLabel" aria-hidden="true">
    <div class="modal-dialog" *ngIf="organizationForm">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="organizationModalLabel">Organization Details</h5>
          <button type="button" id="closeOrgBtn" class="btn-close" (click)="closeOrgModal()" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form [formGroup]="organizationForm">
            <div class="modal-body">
              <div class="mb-3">
                <label for="organization_name" class="required">Organization Name</label>
                <input wtUserInputValidator
                  type="text"
                  class="form-control"
                  [(ngModel)]="organization['organization_name']"
                  formControlName="organization_name"
                  name="organizationName"
                  placeholder="Enter organization name"
                  [ngClass]="{ 'is-invalid': f['organization_name'].dirty && f['organization_name']['errors'] }"
                />
                <div *ngIf="f['organization_name']['errors'] && f['organization_name'].dirty" class="invalid-feedback pt-1">
                    <span *ngIf="f['organization_name']['errors']['required']">
                        Organization Name is required.
                    </span>
                </div>
              </div>
          
              <div class="mb-3">
                <label for="description">Description</label>
                <textarea wtUserInputValidator
                  class="form-control"
                  [(ngModel)]="organization['description']"
                  formControlName="description"
                  name="description"
                  placeholder="Enter description"
                ></textarea>
              </div>
          
              <div class="mb-3">
                <label for="first_phn_num" class="required">First Phone Number</label>
                <input wtUserInputValidator
                  type="tel"
                  name="firstPhnNum"
                  class="form-control"
                  [(ngModel)]="organization['first_phn_num']"
                  formControlName="first_phn_num"
                  placeholder="Enter first phone number"
                  [ngClass]="{ 'is-invalid': f['first_phn_num'].dirty && f['first_phn_num']['errors'] }"
                />
                <div *ngIf="f['first_phn_num']['errors'] && f['first_phn_num'].dirty" class="invalid-feedback pt-1">
                    <span *ngIf="f['first_phn_num']['errors']['required']">
                        First Phone number is required.
                    </span>
                    <span *ngIf="f?.first_phn_num?.errors?.minlength">
                        First Phone number Must be Atleast 10 Characters Long.
                    </span>
                </div>
              </div>
          
              <div class="mb-3">
                <label for="second_phn_num">Second Phone Number</label>
                <input wtUserInputValidator
                  type="tel"
                  name="secondPhnNum"
                  class="form-control"
                  [(ngModel)]="organization['second_phn_num']"
                  formControlName="second_phn_num"
                  placeholder="Enter second phone number"
                />
              </div>
          
              <div class="mb-3">
                <label for="email" class="required">Email</label>
                <input wtUserInputValidator
                  type="email"
                  class="form-control"
                  [(ngModel)]="organization['email']"
                  formControlName="email"
                  name="email"
                  placeholder="Enter email"
                  [ngClass]="{ 'is-invalid': f['email'].dirty && f['email']['errors'] }">
                  <div *ngIf="f['email']['errors'] && f['email'].dirty" class="invalid-feedback pt-1">
                      <span *ngIf="f['email']['errors']['required']">
                          Email is required.
                      </span>
                      <span *ngIf="f?.email?.errors?.pattern">
                          Enter a valid email pattern.
                      </span>
                  </div>
              </div>
          
              <div class="mb-3">
                <label for="address_line1" class="required">Address Line 1</label>
                <input wtUserInputValidator
                  type="text"
                  class="form-control"
                  [(ngModel)]="organization['address_line1']"
                  formControlName="address_line1"
                  name="addressLine1"
                  placeholder="Enter address line 1"
                  [ngClass]="{ 'is-invalid': f['address_line1'].dirty && f['address_line1']['errors'] }"
                />
                <div *ngIf="f['address_line1']['errors'] && f['address_line1'].dirty" class="invalid-feedback pt-1">
                    <span *ngIf="f['address_line1']['errors']['required']">
                        Address Line 1 is required.
                    </span>
                </div>
              </div>
          
              <div class="mb-3">
                <label for="address_line2">Address Line 2</label>
                <input wtUserInputValidator
                  type="text"
                  name="addressLine2"
                  class="form-control"
                  [(ngModel)]="organization['address_line2']"
                  formControlName="address_line2"
                  placeholder="Enter address line 2"
                />
              </div>
          
              <div class="mb-3">
                <label for="city">City</label>
                <input wtUserInputValidator
                  type="text"
                  class="form-control"
                  [(ngModel)]="organization['city']"
                  formControlName="city"
                  name="city"
                  placeholder="Enter city"
                  />
              </div>
          
              <div class="mb-3">
                <label for="country">Country</label>
                <input wtUserInputValidator
                  type="text"
                  class="form-control"
                  [(ngModel)]="organization['country']"
                  formControlName="country"
                  name="country"
                  placeholder="Enter country"
                  />
              </div>
          
              <div class="mb-3">
                <label for="pincode">Pincode</label>
                <input wtUserInputValidator
                  type="text"
                  class="form-control"
                  [(ngModel)]="organization['pincode']"
                  formControlName="pincode"
                  name="pincode"
                  placeholder="Enter pincode"
                  />
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-dark" (click)="openModal('closeOrgBtn')">Close</button>
              <button type="button" class="btn btn-primary" (click)="configureOrganization()">Save</button>
            </div>
          </form>          
      </div>
    </div>
  </div>
  