#siteModal {

    label {
        font-size: 0.75rem;
        margin-bottom: 0.125rem;
    }

    .form-control {
      height: 30px;
      font-size: 0.85rem;
      padding: 0.25rem 0.5rem;
      width: 100%;
      max-width: 300px;
    }

    .section-title {
        font-size: 0.75rem;
    }
  
    .modal-dialog {
      margin: auto;
    }
  
    .modal-header {
      justify-content: center;
      text-align: center;
    }
  
    .modal-title {
      font-size: 0.875rem;
    }
  }
  
  