.accordion-btn {
    min-width: 100%;
    text-align: left;
}
.asset-info-border {
    &:first-child {
        border-top: var(--bs-card-border-width) solid var(--bs-card-border-color);
        border-bottom: var(--bs-card-border-width) solid var(--bs-card-border-color)
    }
}
.fault-status-title {
    font-weight: bold;
}
.asset-dashboard {
    height: calc(100vh - 5.25rem);
    overflow-y: auto;
}