<div class="main-content">
    <div class="page-inner">
        <div class="row m-0">
            <div class="col-2 pl-0">
                <wt-tree-view *ngIf="hierachy?.length" [nodes]="hierachy" [options]="treeOptions" (nodeSelected)="onTreeNodeSelected($event)">
                </wt-tree-view>
            </div>
            <div class="card col-10 p-0">
                <div class="card-header">
                    <h6 class="title">{{meta?.deviceName}} / {{meta?.assetName}}</h6>
                </div>
                <div class="card-body row m-0 p-3">
                    <div class="card p-0 mb-3">
                        <div id="accordion" class="card-expansion m-0">
                            <div class="card card-expansion-item expanded">
                                <div class="card-header border-0" id="headingOne">
                                    <button class="btn btn-reset accordion-btn" data-toggle="collapse"
                                        data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        <span class="collapse-indicator mr-2">
                                            <i class="fa fa-fw fa-caret-right"></i>
                                        </span>
                                        <span>Asset Information</span>
                                    </button>
                                </div>
                                <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                                    data-parent="#accordion">
                                    <div class="card-body py-2 d-flex asset-info-border">
                                        <div class="card-footer-item p-0 card-footer-item-bordered"
                                            *ngFor="let eachInfo of meta?.assetInformation | slice:0:4">
                                            <div class="metric">
                                                <h6 class="metric-value"> {{eachInfo?.value || 'NA'}} </h6>
                                                <p class="metric-label"> {{eachInfo?.label || 'NA'}} </p>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-body py-2 d-flex asset-info-border">
                                        <div class="card-footer-item p-0 card-footer-item-bordered"
                                            *ngFor="let eachInfo of meta?.assetInformation | slice:4:8">
                                            <div class="metric">
                                                <h6 class="metric-value"> {{eachInfo?.value || 'NA'}} </h6>
                                                <p class="metric-label"> {{eachInfo?.label || 'NA'}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0 mb-3">
                        <div id="accordion" class="card-expansion m-0">
                            <div class="card card-expansion-item expanded">
                                <div class="card-header border-0" id="headingTwo">
                                    <button class="btn btn-reset accordion-btn" data-toggle="collapse"
                                        data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                        <span class="collapse-indicator mr-2">
                                            <i class="fa fa-fw fa-caret-right"></i>
                                        </span>
                                        <span>Operational Parameters</span>
                                    </button>
                                </div>
                                <div id="collapseTwo" class="collapse show row m-0" aria-labelledby="headingTwo"
                                    data-parent="#accordion">
    
                                    <div class="col-lg-6 col-xl-4 pr-0 pb-0 px-2 cursor-pointer"
                                        (click)="openAssetAnalysis(task)" *ngFor="let task of tasks">
                                        <div class="card card-fluid mb-3">
                                            <div class="card-header border-0">
                                                <div class="d-flex justify-content-between align-items-center">
                                                    <h6>{{task?.name}}</h6>
                                                    <!-- <div class="dropdown">
                                                        <button type="button" class="btn btn-icon btn-light"
                                                            data-toggle="dropdown" aria-expanded="false">
                                                            <i class="fa fa-ellipsis-v"></i>
                                                        </button>
                                                        <div class="dropdown-menu dropdown-menu-right">
                                                            <div class="dropdown-arrow"></div>
                                                            <a href="#" class="dropdown-item">View Project</a>
                                                            <a href="#" class="dropdown-item">Add Member</a>
                                                            <a href="#" class="dropdown-item">Edit</a>
                                                            <a href="#" class="dropdown-item">Remove</a>
                                                        </div>
                                                    </div> -->
                                                </div>
                                            </div><!-- /.card-header -->
                                            <!-- .card-body -->
                                            <div class="card-body text-center px-0">
                                                <div style="height: 200px;">
                                                    <wt-visual-charts [chartOptions]="task.options"></wt-visual-charts>
                                                </div>
                                                <p class="card-subtitle text-muted">
                                                    Progress in {{ task.progress }}% - Last update {{ task.lastUpdate }}
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0 mb-3">
                        <div id="accordion" class="card-expansion m-0">
                            <div class="card card-expansion-item expanded">
                                <div class="card-header border-0" id="headingThree">
                                    <button class="btn btn-reset accordion-btn cursor-auto" data-toggle="collapse"
                                        data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                                        <span class="collapse-indicator mr-2">
                                            <i class="fa fa-fw fa-caret-right"></i>
                                        </span>
                                        <span>{{meta?.faultStatus?.title}}</span>
                                    </button>
                                </div>
                                <div id="collapseThree" class="collapse show row m-0" aria-labelledby="headingThree"
                                    data-parent="#accordion">
                                    <ul class="list-inline small text-end">
                                        <li class="list-inline-item">
                                            <i class="fa fa-fw fa-circle text-success"></i>
                                            Working Fine
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-fw fa-circle text-warning"></i>
                                            Medium
                                        </li>
                                        <li class="list-inline-item">
                                            <i class="fa fa-fw fa-circle text-danger"></i>
                                            Fault
                                        </li>
                                    </ul>
                                    <div class="row m-0">
                                        <div class="col-12 metric-badge">
                                            <span class="text-success fault-status-title"> Inner Race (Working Fine)</span>
                                        </div>
                                        <div class="col-12 metric-badge">
                                            <span class="text-warning fault-status-title"> outer Race (Medium)</span>
                                        </div>
                                        <div class="col-12 metric-badge">
                                            <span class="text-danger fault-status-title"> Ball or Cage (Fault)</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card p-0 mb-3">
                        <div id="accordion" class="card-expansion m-0">
                            <div class="card card-expansion-item expanded">
                                <div class="card-header border-0" id="headingFour">
                                    <button class="btn btn-reset accordion-btn" data-toggle="collapse"
                                        data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                                        <span class="collapse-indicator mr-2">
                                            <i class="fa fa-fw fa-caret-right"></i>
                                        </span>
                                        <span>{{meta?.conditions?.title}}</span>
                                    </button>
                                </div>
                                <div id="collapseFour" class="collapse show row m-0" aria-labelledby="headingFour"
                                    data-parent="#accordion">
                                    <div class="card-body py-2 d-flex asset-info-border">
                                        <div class="card-footer-item p-0 card-footer-item-bordered"
                                            *ngFor="let eachInfo of meta?.conditions?.conditionRul">
                                            <div class="metric">
                                                <h6
                                                    class="metric-value {{eachInfo?.status ? 'text-'+eachInfo?.status : ''}}">
                                                    {{eachInfo?.value || 'NA'}} </h6>
                                                <p class="metric-label"> {{eachInfo?.label || 'NA'}} </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>