/* You can add global styles to this file, and also import other style files */
@import 'material-icons/iconfont/material-icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
//============== External file imports ==============//

//============== SCSS Variables ==============//
$font-regular: "Inter-Regular";
$font-medium: "Inter-Medium";
$font-semi-bold: "Inter-SemiBold";
$font-bold: "Inter-Bold";

// scrollbar
::-webkit-scrollbar {
    width: 5px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #00000038 !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

// form-styles
.required-black:after {
    content: "*";
    color: #000000;
}

.required:after {
    content: "*";
    color: #DD2C00;
}

// component

button, a, .fa {
    cursor: pointer;
}

.text-decoration-auto {
    text-decoration: auto !important;
}

// Variables
:root {
    --headerHeight: 4rem;
    --sidebarWidth: 4rem
}

// Sidebar SCSS
.app-aside {}

// modal centered
.modal-body {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

// Component Level
.app-page {
    padding-top: var(--headerHeight);
    padding-left: var(--sidebarWidth);
    margin: 0.5rem;

    .ext-actions {
        display: contents;
    }
}

// ==================================== Custom Loader CSS ==============================
// CSS Loader
.lds-ring {
    display: inline-block;
    // position: relative;
    width: 24px;
    height: 24px;
    top: 48vh;
    left: 51vw;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 6px;
    border: 3px solid #0F62FE;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0F62FE transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    visibility: hidden;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999 !important;
}

#loader-wrapper-submaincontent {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(0, -50%);
    z-index: 1;
}

.loader-wrapper-submaincontent {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(0, -50%);
}

#loader-spin {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-spin:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-spin:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}