/* You can add global styles to this file, and also import other style files */
@import "~ng-pick-datetime/assets/style/picker.min.css";
@import 'material-icons/iconfont/material-icons.css';
@import "~@ng-select/ng-select/themes/default.theme.css";
//============== External file imports ==============//

//============== SCSS Variables ==============//
$font-regular: "Inter-Regular";
$font-medium: "Inter-Medium";
$font-semi-bold: "Inter-SemiBold";
$font-bold: "Inter-Bold";

:root {
    --expSidebarWidth         : 14rem;
    --colSidebarWidth         : 3.063rem;
    --leftSideBarWidth        : 3.063rem;
    --leftSideBarHover        : #e6f3fb;
    --leftSideBarActive       : #5C5C5C;
    --sidebarWidth            : 14rem;
    --navbarHeight            : 3.5rem;
    --headerHeight: 4rem;
    // --sidebarWidth: 4rem;
}

$expSidebarWidth         : var(--expSidebarWidth);
$colSidebarWidth         : var(--colSidebarWidth);
$sidebarWidth            : var(--sidebarWidth);
$navbarHeight            : var(--navbarHeight);

body {
   background-color: #e7e7e7;
   overflow-x: hidden;
}

.main-content {
    padding-top: var(--headerHeight);
}

// .sidebar-closed {
//     .main-content {
//         padding-left: var(--sidebarWidth);
//     }
// }

// .sidebar-opened {
//     .main-content {
//         padding-left: 15rem;
//     }
// }

// scrollbar
::-webkit-scrollbar {
    width: 5px !important;
}

::-webkit-scrollbar-thumb {
    background-color: #00000038 !important;
}

::-webkit-scrollbar-track {
    background-color: transparent !important;
}

// form-styles
.required-black:after {
    content: "*";
    color: #000000;
}

.required:after {
    content: "*";
    color: #DD2C00;
}

.text-black {
    color: black !important;
}

// component

button, a, .fa {
    cursor: pointer;
}

.text-decoration-auto {
    text-decoration: auto !important;
}

// Variables
:root {
    // --headerHeight: 4rem;
    // --sidebarWidth: 4rem
}

// Sidebar SCSS
.app-aside {}

// modal centered
.modal-body {
    height: calc(100vh - 200px);
    overflow-y: auto;
}

// Component Level
.app-page {
    padding-top: var(--headerHeight);
    padding-left: var(--sidebarWidth);
    margin: 0.5rem;

    .ext-actions {
        display: contents;
    }
}

// ==================================== Custom Loader CSS ==============================
// CSS Loader
.lds-ring {
    display: inline-block;
    // position: relative;
    width: 24px;
    height: 24px;
    top: 48vh;
    left: 51vw;
}

.lds-ring div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 30px;
    height: 30px;
    margin: 6px;
    border: 3px solid #0F62FE;
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: #0F62FE transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
    animation-delay: -0.45s;
}

.lds-ring div:nth-child(2) {
    animation-delay: -0.3s;
}

.lds-ring div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.loader-hidden {
    visibility: hidden;
}

#loader-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999 !important;
}

#loader-wrapper-submaincontent {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(0, -50%);
    z-index: 1;
}

.loader-wrapper-submaincontent {
    position: absolute;
    top: 45%;
    left: 45%;
    transform: translate(0, -50%);
}

#loader-spin {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 2s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-spin:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 3s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 3s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

#loader-spin:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #7967ea;
    -webkit-animation: spin 1.5s linear infinite;
    /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 1.5s linear infinite;
    /* Chrome, Firefox 16+, IE 10+, Opera */
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

@keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);
        /* IE 9 */
        transform: rotate(0deg);
        /* Firefox 16+, IE 10+, Opera */
    }

    100% {
        -webkit-transform: rotate(360deg);
        /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);
        /* IE 9 */
        transform: rotate(360deg);
        /* Firefox 16+, IE 10+, Opera */
    }
}

// Left Side Bar Styles Starts here

.exp-left-sidebar {
    .slide-custom-node-custome-node {
      left: var(--expSidebarWidth) !important
    }
    @media only screen and (min-width: 992px) {
  
      .breadcrumb-content,
      .main-content {
        width : calc(100vw) !important;
        padding-left: $expSidebarWidth !important;
      }
  
      // &.no-sidebar {
  
      //   .breadcrumb-content,
      //   .main-content {
      //     width : calc(100vw) !important;
      //     padding-left: $expSidebarWidth !important;
      //   }
      // }
    }
  
    // #Config_window.container {
    //   left : calc(#{$expSidebarWidth} + 8px) !important;
    //   width: calc(100vw - var(--expSidebarWidth) - 17px) !important;
    // }
  
    // .data-explorer-layer {
    //   width: calc(100vw - var(--expSidebarWidth)) !important;
    // }
  
    // .data-explorer.generic-tabs {
    //   margin-left: var(--expSidebarWidth);
    // }
  
    .left-side-bar {
      width: var(--sidebarWidth) !important;
    }
  
    .sidebar-toggle {
      width: $expSidebarWidth !important;
    }
  }
  
  .coll-left-sidebar {
    // .slide-custom-node-custome-node {
    //   left: var(--colSidebarWidth) !important
    // }
    // #Config_window.container {
    //   left: calc(#{$colSidebarWidth} + 8px) !important;
    //   width: calc(100vw - var(--colSidebarWidth) - 17px) !important;
    // }
  
  //   .data-explorer-layer {
  //     width: calc(100vw - var(--colSidebarWidth)) !important;
  // }
  //   .data-explorer.generic-tabs {
  //     margin-left: var(--colSidebarWidth);
  //   }
  
    // .widgetConfigPannel {
    //   left: $colSidebarWidth !important;
    //   width: calc(100vW - var(--colSidebarWidth)) !important;
    // }
  
    // .sidebar-toggle {
    //   width:  var(--leftSideBarWidth) !important;
    // }
  
    .left-side-bar {
      width: var(--leftSideBarWidth)!important;
  
      .menus-list {
        .side-menu-item {
          .item-label {
            display: none !important;
          }
        }
  
        .side-menu-icons {
          padding: 0px 4px;
        }
  
        .side-menu-item>div~ul.sub-menu {
          display: none;
        }
  
        .side-menu-item:hover>div~ul.sub-menu {
          display: block !important;
          transform: translate(45px, -20px);
          background: white;
          color: black;
          padding: 0px 1px 1px 1px;
          min-width: 200px;
          border-radius: 7px;
          position: absolute;
          max-height: 220px;
          overflow-y: auto;
          left: 0;
          box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
          -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.75);
  
          .sub-menu-item {
            padding: 6px 12px;
          }
  
          .sub-menu-item:not(:first-child):hover {
            background-color: #AFE0F8;
            color: black;
          }
  
          .sub-menu-item:first-child {
            position: sticky;
            top: 0;
            background-color: white;
          }
        }
  
        .side-menu-item:hover ul.sub-menu li.sub-menu-item ul.sub-menu {
          display: none;
        }
  
        .side-menu-item:hover ul.sub-menu li.sub-menu-item:hover>div~ul.sub-menu {
          display: block !important;
          transform: translate(190px, -80px);
          background: white;
          color: black;
          padding: 2px;
          min-width: 200px;
          border-radius: 7px;
          position: absolute;
          left: 0;
  
          .sub-menu-item {
            padding: 6px 12px;
          }
  
          .sub-menu-item:not(:first-child):hover {
            background-color: #AFE0F8;
            color: black;
          }
        }
      }
    }
  
    .breadcrumb-content,
    .main-content,
    .toolbar-external-act {
      width : calc(100vw) !important;
      padding-left: var(--leftSideBarWidth) !important;
    }
  
    &.no-sidebar {
  
      .breadcrumb-content,
      .main-content,
      .toolbar-external-act {
        width : calc(100vw) !important;
        padding-left: var(--leftSideBarWidth) !important;
      }
    }
  }

  @media only screen and (min-width: 320px) and (max-width: 992px) {
    .navigation-menu-icon , .search-field-width{
      display: none;
    }
  
    .left-side-bar .menus-list .side-menu-item .item-label {
      width: 100% !important;
      max-width: none !important;
    }
  }

  .left-side-bar {
    box-shadow: 0px 1px 5px 0px #eaeaea;
  
    ::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
  
    position : fixed;
    height : calc(100% - #{$navbarHeight});
    background-color: #262626;
    color : white;
    z-index : 1030;
    top : $navbarHeight;
  
  
    ul {
      list-style-type: none;
    }
  
    .menus-list {
      padding-left  : 0px;
      padding-top   : 10px;
      border-bottom : 0px solid #5f4e4e;
      padding-bottom: 0;
      margin-bottom : 0;
  
      .left-sidebar-icons-menu {
        overflow: auto;
        height: calc(100vh - 108px);
      }
  
      li.active-item .side-menu-item {
          padding-left: 15px;
      }
  
      .side-menu-item {
        font-size: 14px;
        margin-right: 0px;
        height: 3rem;
        padding: 10px 8px !important;
        cursor: pointer;
  
        &:hover {
          background-color: #5C5C5C;
        }
  
        li:focus {
          background-color: var(--leftSideBarActive);
        }
  
        .item-label {
          padding-right: 10px;
          margin-left: 8px;
          font-size: 0.83rem;
          text-overflow: ellipsis;
          overflow-x: hidden;
          white-space: nowrap;
          width: 100%;
          max-width: none;
          display: inline-block;
          position: relative;
          top: 4px;
  
        }
  
        .fa-angle-down,
        .fa-angle-up {
          position: relative;
          top: 4px;
        }
  
        .item-icon {
          width: 22px;
        }
      }
  
      // .sidebar-toggle {
      //   position: fixed;
      //   bottom: 0;
      //   cursor: pointer;
      //   width: $expSidebarWidth;
  
      //   .fa-angle-double-left,
      //   .fa-angle-double-right {
      //     font-size: 1rem !important;
      //   }
      // }
    }
  }

  @media only screen and (min-width: 769px) and (max-width: 1280px) { 
    .left-side-bar {
        z-index: 1200 !important;
        box-shadow: 0px 1px 5px 0px #eaeaea;
    
        ::-webkit-scrollbar {
          width: 0px;
          height: 0px;
        }
    
        position : fixed;
        height : calc(100% - #{$navbarHeight});
        background-color: #262626;
        color           : white;
        top             : $navbarHeight;
    
    
        ul {
          list-style-type: none;
        }
    
        .menus-list {
          padding-left: 0px;
          border-bottom: 0px solid #5f4e4e;
          padding-bottom: 0;
          margin-bottom: 0;
    
          li.active-item .side-menu-item {
            padding-left: 15px;
          }
    
          .left-sidebar-icons-menu {
            overflow: auto;
            height: calc(100vh - 108px);
          }
    
          .side-menu-item {
            padding: 10px 8px;
            cursor: pointer;
            margin: auto;
            padding-left: 20px;
    
            &:hover {
              background-color: #5C5C5C;
            }
    
            li:focus {
              background-color: var(--leftSideBarActive);
            }
    
            .item-label {
              padding-right: 10px;
              margin-left: 8px;
              font-size: 0.72rem;
              text-overflow: ellipsis;
              overflow-x: hidden;
              white-space: nowrap;
              width: 100%;
              max-width: none;
              display: inline-block;
              position: relative;
              top: 4px;
    
            }
    
            .fa-angle-down,
            .fa-angle-up {
              position: relative;
              top: 4px;
            }
    
            .item-icon {
              width: 18px;
            }
          }
    
          // .sidebar-toggle {
          //   position: fixed;
          //   bottom: 0;
          //   cursor: pointer;
          //   width: $expSidebarWidth;
    
          //   .fa-angle-double-left,
          //   .fa-angle-double-right {
          //     font-size: 1rem !important;
          //   }
          // }
        }
    
      }
  }

  @media only screen and (min-width: 1281px) {
    .left-side-bar {
        box-shadow: 0px 1px 5px 0px #eaeaea;
    
        ::-webkit-scrollbar {
          width: 0px;
          height: 0px;
        }
    
        position : fixed;
        height : calc(100% - #{$navbarHeight});
        background-color: #262626;
        color           : white;
        top             : $navbarHeight;
    
    
        ul {
          list-style-type: none;
        }
    
        .menus-list {
          padding-left: 0px;
          border-bottom: 0px solid #5f4e4e;
          padding-bottom: 0;
          margin-bottom: 0;
    
          li.active-item .side-menu-item {
            padding-left: 15px;
          }
    
          .left-sidebar-icons-menu {
            overflow: auto;
            height: calc(100vh - 108px);
          }
    
          .side-menu-item {
            padding: 10px 8px;
            cursor: pointer;
            margin: auto;
            padding-left: 20px;
    
            &:hover {
              background-color: #5C5C5C;
            }
    
            li:focus {
              background-color: var(--leftSideBarActive);
            }
    
            .item-label {
              padding-right: 10px;
              margin-left: 8px;
              font-size: 0.8rem;
              text-overflow: ellipsis;
              overflow-x: hidden;
              white-space: nowrap;
              width: 100%;
              max-width: none;
              display: inline-block;
              position: relative;
              top: 4px;
    
            }
    
            .fa-angle-down,
            .fa-angle-up {
              position: relative;
              top: 4px;
            }
    
            .item-icon {
              width: 22px;
            }
          }
    
          // .sidebar-toggle {
          //   position: fixed;
          //   bottom: 0;
          //   cursor: pointer;
          //   width: $expSidebarWidth;
    
          //   .fa-angle-double-left,
          //   .fa-angle-double-right {
          //     font-size: 1rem !important;
          //   }
          // }
        }
    
        kl-dahs-dashboard-overview,
        kl-dahs-widgets {
          .small-card {
            width: 23%;
            padding: 10px;
            background: #ffffff;
            border-radius: 2px;
          }
    
          .analyser-sm-card {
            width: 11%;
            background: #ffffff;
            padding: 10px;
            margin: 5px;
            border: 1px solid rgba(20, 20, 31, 0.12);
            border-radius: 0.25rem;
          }
        }
      }
   }

   @media screen and (min-width: 2561px) {
    .check-label {
      padding-left: 0.5rem;
      cursor: pointer;
      max-width: 80%;
      display: inline-flex;
    }
  
    .btn {
      font-size: 0.83rem !important;
    }
  
    body {
      overflow: hidden;
      height: 100vh;
      font-size: 0.82rem !important;
    }
  
    .left-side-bar {
      box-shadow: 0px 1px 5px 0px #eaeaea;
  
      ::-webkit-scrollbar {
        width: 0px;
        height: 0px;
      }
  
      position : fixed;
      height : calc(100% - #{$navbarHeight});
      background-color: #262626;
      color           : white;
      top             : $navbarHeight;
  
  
      ul {
        list-style-type: none;
      }
  
      .menus-list {
        padding-left: 0px;
        border-bottom: 0px solid #5f4e4e;
        padding-bottom: 0;
        margin-bottom: 0;
  
        li.active-item .side-menu-item {
          padding-left: 15px;
        }
  
        .left-sidebar-icons-menu {
          overflow: auto;
          height: calc(100vh - 108px);
        }
  
        .side-menu-item {
          padding: 10px 8px;
          cursor: pointer;
          margin: auto;
          padding-left: 20px;
  
          &:hover {
            background-color: #5C5C5C;
          }
  
          li:focus {
            background-color: var(--leftSideBarActive);
          }
  
          .item-label {
            padding-right: 10px;
            margin-left: 8px;
            font-size: 0.82rem;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
            width: 100%;
            max-width: none;
            display: inline-block;
            position: relative;
            top: 4px;
  
          }
  
          .fa-angle-down,
          .fa-angle-up {
            position: relative;
            top: 4px;
          }
  
          .item-icon {
            width: 22px;
          }
        }
  
        // .sidebar-toggle {
        //   position: fixed;
        //   bottom: 0;
        //   cursor: pointer;
        //   width: $expSidebarWidth;
  
        //   .fa-angle-double-left,
        //   .fa-angle-double-right {
        //     font-size: 1rem !important;
        //   }
        // }
      }
    }
  }

// Left Side Bar Styles Ends here