.btn-primary {
    background-color: #4e73df;

    &:hover {
        background-color: #375a7f; // Darker shade on hover
    }

    &:disabled {
        background-color: #d1d3e2;
    }
}

.btn {
    border: none; // Remove border
    font-size: 0.75rem; // Smaller font size
    font-weight: 600;
    padding: 0.2rem 0.5rem; // Reduced padding
    height: 1.8rem; // Reduced height
    border-radius: 999px; // Fully rounded corners
    transition: all 0.3s ease; // Smooth transition for hover effects

    &:disabled {
        // Disabled color
        cursor: not-allowed; // Prevent interaction
    }
}

button.btn {
    width: auto;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 150px;
}