<div class="main-content">
  <div class="page-inner">
  <div class="" *ngIf="!loader?.table">
      <wt-ag-grid-table [agGridOptions]="agGridOptions" [clickableColumns]="agGridOptions?.clickableColumns || []" (aggridEmitter)="aggridEmitter($event)"  ></wt-ag-grid-table>
  </div>
  <ng-container *ngIf="loader?.table">
      <div>
          <div id="loader-wrapper-submaincontent">
              <div class="lds-ring">
                  <div></div>
                  <div></div>
                  <div></div>
                  <div></div>
              </div>
          </div>
      </div>
  </ng-container>
  </div>
</div>

<!-- Trigger Button -->
<button type="button" id="parameterModalBtn" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#parameterModal">
  Add/Edit Parameter
</button>

<div class="modal fade" id="parameterModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="parameterModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered" *ngIf="parameterForm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="parameterModalLabel">Parameter Configuration</h5>
        <button type="button" id="closeParameterBtn" class="btn-close" (click)="closeParameterModal()" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form [formGroup]="parameterForm">
          <div class="modal-body">
                <div class="col-md-12 row m-0 px-0">
            
                  <div class="form-group col-4 pl-0 m-0">
                    <label for="parameter_name" class="required">Parameter Name</label>
                    <input wtUserInputValidator
                      type="text"
                      class="form-control"
                      [(ngModel)]="parameterData['parameter_name']"
                      formControlName="parameter_name"
                      name="parameterName"
                      placeholder="Enter Parameter Name"
                      [ngClass]="{ 'is-invalid': f['parameter_name'].dirty && f['parameter_name']['errors'] }"
                    />
                    <div *ngIf="f['parameter_name']['errors'] && f['parameter_name'].dirty" class="invalid-feedback pt-1">
                      <span *ngIf="f['parameter_name']['errors']['required']">
                        Parameter Name is required.
                      </span>
                    </div>
                  </div>
            
                  <div class="form-group col-4 pl-0 m-0">
                    <label for="description">Description</label>
                    <textarea wtUserInputValidator
                      class="form-control"
                      [(ngModel)]="parameterData['description']"
                      formControlName="description"
                      name="description"
                      placeholder="Enter Description"
                    ></textarea>
                  </div>
              </div>
            
                  
            </div>
            
          <div class="modal-footer">
              <button type="button" class="btn btn-primary m-0" (click)="configureParameter()">Save<i *ngIf="loader?.conf" class=" ml-2 fa fa-spinner fa-spin"></i></button>
            <button type="button" class="btn btn-dark m-0" (click)="openModal('closeParameterBtn')">Close</button>
          </div>
        </form>          
    </div>
  </div>
</div>